/*
 * Store
 *
 * This is a excersise API for managing users, orders and items.
 *
 * OpenAPI spec version: 0.1.0
 * Contact: glad4enkonm@gmail.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;

namespace Store.Controllers.Abstract
{
    /// <summary>
    /// 
    /// </summary>
    public abstract class ItemsApi : Controller
    { 

        /// <summary>
        /// Get a list of existing items.
        /// </summary>
        
        /// <response code="200">List of existing items.</response>
        [HttpGet]
        [Route("/items")]
        public abstract Task<IActionResult> GetAsync();


        /// <summary>
        /// Get information about an item.
        /// </summary>
        
        /// <param name="itemId"></param>
        /// <response code="200">Ok.</response>
        /// <response code="400">Invalid id specified</response>
        /// <response code="404">Item not found</response>
        [HttpGet]
        [Route("/items/{itemId}")]
        public abstract Task<IActionResult> GetAsync([FromRoute]long? itemId);
    }
}
