/*
 * Store
 *
 * This is a excersise API for managing users, orders and items.
 *
 * OpenAPI spec version: 0.1.0
 * Contact: glad4enkonm@gmail.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.ComponentModel;
using System.IO;
using System.Linq;
using System.Net;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;
using Newtonsoft.Json;
using Store.Models;
using Microsoft.AspNetCore.JsonPatch;
using Microsoft.AspNetCore.Http;

namespace Store.Controllers.Abstract
{
    /// <summary>
    /// 
    /// </summary>
    public abstract class OrdersApi : Controller
    { 

        /// <summary>
        /// Remove order.
        /// </summary>
        
        /// <param name="orderId"></param>
        /// <response code="200">Done.</response>
        /// <response code="400">Bad request.</response>
        [HttpDelete]
        [Route("/orders/{orderId}")]
        public abstract Task DeleteAsync([FromRoute]long? orderId);


        /// <summary>
        /// Get a list of existing orders.
        /// </summary>
        
        /// <response code="200">List of existing orders.</response>
        [HttpGet]
        [Route("/orders")]
        public abstract Task<IActionResult> GetAsync();


        /// <summary>
        /// Get information about an order.
        /// </summary>
        
        /// <param name="orderId"></param>
        /// <response code="200">Ok.</response>
        /// <response code="400">Invalid id specified.</response>
        /// <response code="404">Item not found.</response>
        [HttpGet]
        [Route("/orders/{orderId}")]
        public abstract Task<IActionResult> GetAsync([FromRoute]long? orderId);


        /// <summary>
        /// Modify order content.
        /// </summary>
        
        /// <param name="orderId"></param>
        /// <param name="quantityList"></param>
        /// <response code="200">Done.</response>
        /// <response code="400">Bad request.</response>
        [HttpPatch]
        [Route("/orders/{orderId}")]
        public abstract Task<IActionResult> PatchAsync([FromRoute]long? orderId, [FromBody]QuantityList quantityList);


        /// <summary>
        /// New order.
        /// </summary>
        /// <remarks>Creates a new order.</remarks>
        /// <response code="200">A new order created.</response>
        [HttpPut]
        [Route("/orders")]
        public abstract Task<IActionResult> PutAsync();
    }
}
